input[type="range"] {
    position: relative;
    margin-left: 1em;
}
input[type="range"]:after,
input[type="range"]:before {
    position: absolute;
    top: 1em;
    color: #aaa;
}
input[type="range"]:before {
    left:0em;
    content: attr(min);
}
input[type="range"]:after {
    right: 0em;
    content: attr(max);
}

input[type="range"] {
  width: 65%;
}

.questionnaire {
   width: 30%;
  margin-left: 1em;
  float: left;
  background-color: rgb(240,240,240);
}

.selection {
  margin: 1em;
  background-color: #F3FEFF;
}

.results {
  margin-left: 34%;
  width: 64%;
  background-color: rgb(240,240,240);
}
