input[type="range"] {
    position: relative;
    margin-left: 1em;
}
input[type="range"]:after,
input[type="range"]:before {
    position: absolute;
    top: 1em;
    color: #aaa;
}
input[type="range"]:before {
    left:0em;
    content: attr(min);
}
input[type="range"]:after {
    right: 0em;
    content: attr(max);
}

input[type="range"] {
  width: 65%;
}

input[type="file"] {
  display:none;
}

.button_sub {
  border-radius: 8px;
  background-color: #811818;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 20px;
  padding: 7px;
  width: 120px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button_sub span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button_sub span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button_sub:hover {
  background-color: rgba(86, 199, 33, 0.836);
}

.button_sub:hover span {
  padding-right: 25px;
}

.button_sub:hover span:after {
  opacity: 1;
  right: 0;
}

.button_algo {
  border-radius: 5px;
  background-color: #504d46;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 15px;
  padding: 7px;
  width: auto;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button_algo:hover {
  background-color: #ffcc00;
  color: black;
}

.button_upload {
  border-radius: 5px;
  background-color: #504d46;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 15px;
  padding: 7px;
  width: auto;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  display: inline-block;
}

.button_upload:hover {
  background-color: #ffcc00;
  color: black;
}

.questionnaire {
  font-family: "sans-serif";
  width: 30%;
  margin-left: 1em;
  float: left;
  background-color: rgb(240,240,240);
  padding-left: 0.5em;
  padding-right: 0.5em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  border-style: inset;
  border-width: 7px;
}

.selection {
  margin: 0.5em;
  background-color: #F3FEFF;
  padding-left: 1em;
  padding-right: 0.5em;
  padding-bottom: 5mm;
  padding-top: 0.5mm;
  margin-top: 5mm;
  border-width: 2px;
  border-style: solid;
  /*border-color: rgb(37, 39, 39);*/
}

.results {
  font-family: "sans-serif";
  margin-left: 34%;
  width: 64%;
  background-color: rgb(240,240,240);
  padding-left: 0.5em;
  padding-right: 0.5em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  border-style: inset;
  border-width: 7px;
}

.mmlstyle {
  margin-left: 1em;
  margin-right: 1em;
}

.cb_expl_style1 {
  float: left;
  width: 48%;
}

.cb_expl_style2 {
  margin-left: 52%;
}